@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Parkinsans', sans-serif;
}

html {
    scroll-behavior: smooth;
}