---
import { PiSun, PiMoon } from "react-icons/pi";
---

<button
  id="theme-toggle"
  type="button"
  class="p-2 rounded-lg text-gray-500 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 transition-colors"
  aria-label="Toggle Dark Mode"
>
  <span class="hidden dark:inline"><PiSun className="w-5 h-5" /></span>
  <span class="inline dark:hidden"><PiMoon className="w-5 h-5" /></span>
</button>

<script>
  function setupThemeToggle() {
    const themeToggleBtn = document.getElementById("theme-toggle");

    // Handle click
    themeToggleBtn?.addEventListener("click", function () {
      // Toggle theme
      if (document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      } else {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      }
    });
  }

  // Run on initial load
  setupThemeToggle();

  // Run on view transitions navigation
  document.addEventListener("astro:after-swap", setupThemeToggle);
</script>
